.home_stile_home{
    padding: 1rem;
    align-content: flex-end;
    min-height: 90vh;
    align-items: center;
    color: rgb(8, 1, 0);
    background-color: rgb(183, 218, 247);
}
.spinner_center_home{
    position: absolute;
    top: 50%;
    left: 50%;
    color: red;
}
.forecast{
    height: 3rem;
}   